#container {
    /* border: solid 1px black; */
    margin: 10px auto;
    width: fit-content;
    border-radius: 5px;
  }
  
  #field {
    /* border: solid 1px black; */
    margin: 10px;
    border-radius: 5px;
    background-position: center;
    background-image: url('/f1.jpg');
    width: 900px;
    height: 600px;
    position: relative;
  }
  
  #control {
    margin: 10px;
    border-radius: 5px;
  }
  
  #ball {
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: cover;
    transition: all 0.05s linear;
  }
  
  .none {
    background-color: aliceblue;
  }
  
  .basketball {
    background-image: url('/b1.png');
    background-size: cover;
  }
  
  .football {
    background-image: url('/b2.png');
    background-size: cover;
  }
  
  .volleyball {
    background-image: url('/voll.png');
    background-size: cover;
  }
  
  .human {
    background-image: url('/H3.jpg');
    background-size: cover;
  }
  
  .cartoon {
    background-image: url('/cartoon.jpg');
    background-size: cover;
  }
  
  .logo {
    background-image: url('/LOGO.png');
    background-size: cover;
  }
  