.counter-container {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: antiquewhite;
    margin-bottom: 0.5rem;

    /* width: 100px; 
    margin-left: auto;
    margin-right: auto; */

    /* กำหนดให้แสดงผลตรงกลางเมื่อหน้าจอมีขนาดเล็ก */
    /* display: flex;
    flex-direction: column; 
    align-items: space-between; */
}

.counter-title {
    color: darkblue;
}

.counter-value {
    font-size: xx-large;
    font-weight: bold;
    margin: 0 1rem 0 1rem; 
}


/* .counter-button {
    border: 1px solid black;
    border-radius: 0.5rem;
}

.counter-dec{
    background-color: lightcoral;
}

.counter-inc{
    background-color: lightblue;
} */