.todo-container {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

/* .todo-filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 0.7%;
} */

.todo-filters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.7%;
    margin-bottom: 0.5rem;
    /* gap: 10px; ระยะห่างระหว่างองค์ประกอบ */
  }
  
  .form-check {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .form-check-label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  

.todo-table {
    border: 1px solid black;
}

.todo-space {
    margin: 0 0.5rem;
}

