#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.components-container {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 125vh;
  height: 100vh;
  background-image: url('/sky2.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  /* margin-top: 300px; */
}

.main-display {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  /* justify-content: space-between; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.components-counter{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem;
   /* grid-column: span 1; */
}

.counter-timer{
  display: grid;
  grid-column: span 1;
  gap: 0.5rem;
}

.add{
  display: grid;
  grid-column: span 2;
  gap: 0.5rem;
  align-items: start;
}

.temperatures{
  display: grid;
  grid-column: span 3;
  gap: 0.5rem;
}
